header {
    z-index: 300;
}

nav a {
    color: white;
}

.nav-link-group {
    display: flex;
    position: relative;
}

.nav-dropdown {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: calc(100% - 0.45rem);
    padding: 1rem;
    cursor: pointer;
    left: -1rem;
    opacity: 0;
    transition: 300ms ease-in-out;
}

/* To Do improve keyboard navigation */
.nav-link-group:hover .nav-dropdown,
.nav-link-group a:focus ~ .nav-dropdown {
    visibility: visible;
    display: flex;
    position: absolute;
    top: calc(100% - 0.45rem);
    padding: 1rem;
    cursor: pointer;
    left: -1rem;
    opacity: 1;
    height: auto;
}

.nav-dropdown a {
    background-color: #37373766;
}

@media (max-width: 1023px) {
    nav {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        align-items: start;
        transform: translateY(-100%);
        transition: 300ms ease-in-out;
    }

    nav.open {
        transform: translateY(0%);
    }

    nav a {
        color: black;
        background-color: white;
    }

    .header-items-wrapper {
        position: relative;
    }

    .socials {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    .menu-links {
        z-index: 43244;
        width: 100vw;
        background: white;
    }

    .mobile-menu-header {
        padding: 1rem;
        gap: 8px;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-menu-close i,
    .hamburger i {
        font-size: 22px;
    }

    @media (prefers-color-scheme: dark) {
        nav,
        .menu-links {
            background-color: black;
        }
        nav a {
            color: white;
            background-color: black;
        }
    }
}